.pedigree
  svg
    width 100%
    height 100%
        
  .name
    font-weight bold;
    font-size 1.75ch;

  .about
    fill #777;
    font-size 1.5ch;

  .link
    fill none;
    stroke #000;
    shape-rendering crispEdges;
