@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
  only screen and (    min--moz-device-pixel-ratio: 1.3 ),
  only screen and (      -o-min-device-pixel-ratio: 2.6/2 ),
  only screen and (         min-device-pixel-ratio: 1.3 ),
  only screen and ( min-resolution: 124.8dpi ),
  only screen and ( min-resolution: 1.3dppx )

  body
    background-image url('/img/paper_fibers_@2x.png')
